<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 PBMAGE. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="pbam" frontName="pbam">
            <module name="Pbmage_AttributeManager" />
        </route>
    </router>
</config>
