<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Embitel_Bannerslide::bannerslide" title="Bannerslide" module="Embitel_Bannerslide" sortOrder="30" resource="Embitel_Bannerslide::bannerslide"/>
        <add id="Embitel_Bannerslide::bannerslide_manage" title="All Items" module="Embitel_Bannerslide" sortOrder="10" parent="Embitel_Bannerslide::bannerslide" action="bannerslide/index/" resource="Embitel_Bannerslide::manage"/>
    </menu>
</config>
